/* regole flex */

.flex {
  display: flex;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_rev {
  display: flex;
  flex-direction: column-reverse;
}

.just_start {
  justify-content: flex-start;
}

.just_cen {
  justify-content: center;
}

.just_end {
  justify-content: flex-end;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

.align_end {
  align-items: flex-end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

